* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Cypro Minoan', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    background-color: #333;
    color: #fff;
}

.container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 400px;
    background-color: #2a2a2a;
    padding: 20px;
}

.logo {
    font-size: 30px;
    color: #5ec6ff;
    margin-bottom: 60px;
}

.menu {
    list-style: none;
    padding: 0;
}

.menu li {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    font-size: 20px;
}

.icon-button {
    display: inline-block;
    padding: 10px 30px;
    color: #5ec6ff;
    background-color: transparent;
    border: none;
    border-radius:40px;
    transition: color 0.3s ease, background-color 0.3s ease;
    cursor: pointer;
    font-size: 1.5em;
}

.icon-button:hover {
    color: #fff;
    background-color: #5ec6ff;
    border-radius: 40px;
}

.menu span {
    margin-left: 10px;
    color: #ddd;
    font-size: 1.1em;
}

.main-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.device-info {
    text-align: center;
}

.device-name {
    font-size: 3em;
    margin-bottom: 10px;
}

.device-id {
    font-size: 1.2em;
    color: #888;
    margin-bottom: 20px;
}



.quick-save-btn {
    background-color: #5ec6ff;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

.quick-save-btn:hover {
    background-color: #49a1e1;
}

/* Top Navigation Bar Styling */
.top-nav {
    position: fixed;
    top: 10px;
    right: 20px;
    background-color: transparent;
    padding: 5px;
    z-index: 1000;
}

.top-nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.top-nav li {
    margin: 0;
}

.top-nav a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.top-nav a:hover {
    color: #3498db;
}
